docker {
  enabled = true
}

params {
  gtf_path = null
  gene_bed_path = null
  work_dir = 'test_data/nextflow_annotation_output'
  container = 'quay.io/andrew_mcpherson/longcellpre:latest'
  overwrite = true
}

process {
  executor = 'local'
  container = 'quay.io/andrew_mcpherson/longcellpre:latest'
  errorStrategy = 'terminate'
  cpus = 1
}
